<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!--spring security过滤器链配置-->
    <!--1.需要拦截什么资源-->
    <!--2.什么资源什么角色权限-->
    <!--3.定义认证方式HttpBasic, FormLogin-->
    <!--4.定义登录页面, 定义登录请求地址, 定义错误处理方式-->
    <security:http>

        <!--pattern需要拦截的资源路径, access=permitAll()所有用户可访问, isAnonymous()匿名者访问-->
        <security:intercept-url pattern="/index" access="permitAll()"/>
        <security:intercept-url pattern="/userLogin" access="permitAll()"/>
        <security:intercept-url pattern="/product/list" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/add" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/update" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/delete" access="hasRole('ROLE_ADMIN')"/>

        <!--access拦截方式 需要认证-->
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>

        <!--httpBasic拦截方式-->
        <!--<security:http-basic/>-->

        <!--表单方式登录拦截, login-page定制登录页, login-processing-url登录处理地址,默认是表单提交地址/login-->
        <security:form-login login-page="/userLogin" />

        <!--自定义权限不足页-->
        <security:access-denied-handler error-page="/error" />

        <!--关闭spring security CSRF机制-->
        <security:csrf disabled="true"/>
    </security:http>


    <!--spring security 认证管理器-->
    <!--认证信息提供方式(账户名, 密码, 当前用户权限)-->
    <security:authentication-manager>

        <security:authentication-provider>
            <security:user-service>

                <security:user name="pjqdyd" password="123456" authorities="ROLE_USER"/>
                <security:user name="jack" password="123456" authorities="ROLE_ADMIN"/>

            </security:user-service>
        </security:authentication-provider>

    </security:authentication-manager>

</beans>